@CHARSET "UTF-8";
body{
	font-size: 0.8em;
	color: rgb(69,128,175);
}
h1{
	text-align: center;
	background-color: #7A7A7A;
	color: white;
}
h2{
}
h3{
}
h4{
}


a, a:link, :visited{
	color: blue;
}
a:active{
	color: purple;
}
a:hover{
	text-decoration: none;		
}

hr.clear{
	border: none;
	margin: 0;
	padding: 0;
	clear: both;
}

body, h1, h2, h3, h4{
	font-family: Verdana, Arial, sans-serif;
	margin: 0;	padding: 0;
}

div.bordered{
	margin: 15px;
	border: 0px solid #5B91BF;
	border-width: 15px 4px 5px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-bottomleft:10px;
}

div#main_menu{
	width: 220px;
	float: left;
	list-style-type: none;
}
div#content{
	float: left;
	max-width: 65%;
}


div#main_menu h3{
	color: #5B91BF;
	text-align: center;
	padding: 3px 0 0 0;
	margin: 0;
}


ul.menu_tab{
	padding : 0 0 0 20px;;
	margin: 0;
	list-style-position: inside;
}
ul.menu_tab{
	line-height: 20px;
}
ul.menu_tab li{
	display: block;
	text-indent: 20px;
}
ul#databases_menu li{
	background: transparent url('../img/icons/database.png') 2px 3px no-repeat;
}

ul#tables_menu{
	font-size: 0.8em;
}
ul#tables_menu li{
	background: transparent url('../img/icons/table.png') 2px 3px no-repeat;
}

div#breadcrumb{
}


h4.success{
	background-color: green;
}
h4.error{
	background-color: red;
}


table{
	border-collapse: collapse;
	margin: 20px;
}
caption{
	text-align: left;
	padding: 5px;
}
thead{
	text-align: center;
	color: #5B91BF;
	font-weight: bold;
}
thead tr, thead tr th, thead tr td{
	border: 1px solid white;
	background-color: #5B91BF;
	color: white;
	font-weight: bold;
	padding: 2px 5px;
	font-family: Arial;
	font-size: 0.9em;
}
tbody tr:hover, tbody tr:hover td{
	background-color: white;
}
tbody tr, tbody tr td{
	background-color: rgb(224,235,243);
	border: 1px solid white;
	padding: 2px 5px;
	font-size: 0.9em;
}

tfoot tr td{
	padding: 5px;
	text-align: left;
}
tbody{
	background: white;
}
div#content form fieldset{
	border: none;
}
div#content form fieldset legend{
	
}
div#content form label{
	display: block;
	width: 200px;
	text-align: right;
	float: left;
	margin-right: 3px;
	color: rgb(69,128,175);
	line-height: 1.5em;
}

div#content form p{
	padding: 5px;
	margin: 0px;
}
div#content form p input,
div#content form p textarea,
div#content form p select{
	border: 1px solid #5B91BF;
}
div#content form p input:focus,
div#content form p textarea:focus,
div#content form p select:focus{
	background-color: rgb(224,235,243);
}

ul#menu_context_db{
	list-style-type: none;
	list-style-position: inline;
	margin: 0 0 20px 0;
	padding: 0;
}
ul#menu_context_db li.label{
	background-color: #5B91BF;
	font-weight: bold;
	color: white;
	
}
ul#menu_context_db li{
	display: block;
	float: left;
	padding: 1px 10px;
	border-right: 1px solid #5B91BF;
	border-bottom: 1px solid #5B91BF;
	border-left:  1px solid #5B91BF;
}

p#query_string{
	background-color: rgb(241, 247, 250);
	border: 1px dashed #5B91BF;
}














div.table_container:hover{
	cursor: move;
}
div.table_container{
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	position: absolute;
	top: 150px;
	left: 250px;
	padding: 0;
	margin: 0;
	display: block;
}
div.table_container h3{
	-moz-border-radius-topleft: inherit;
	-moz-border-radius-topright: inherit;
	background-color: rgb(220,220,220);
	border-bottom: 1px solid black;
	text-align: center;
	padding: 0 15px;
	margin: 0;
}
div.table_container ul{
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	background-color: rgb(240,240,240);
	list-style-type: none;
	padding: 0 10px;
	margin: 0;
}

ul li.primary_key{
	font-weight: bold;
}
ul li.foreign_key{
	font-style: italic;
}