@CHARSET "UTF-8";
/******GLOBAL******/
body{
	font-size: 0.8em;
	color: rgb(69,128,175);
}
h1{
}
h2{
}
h3{
}
h4{
}

/******LINK******/
a, a:link, :visited{ color: blue; }
a:active{ color: purple; }
a:hover{ text-decoration: none; }

/******OTHERS******/
hr.clear{
	border: none;
	margin: 0;
	padding: 0;
}
body, h1, h2, h3, h4{
	font-family: Verdana, Arial, sans-serif;
	margin: 0;	padding: 0;
}

/******STRUCT******/
div.bordered{
	margin: 7px;
	border: 0px solid #5B91BF;
	border-width: 4px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-bottomleft:10px;
}
div#db_content, div#table_content, div#row_content{ margin-left:220px; }
h4.success{ background-color: green; }
h4.error{ background-color: red; }
.breadcrumb{
	background-color: #5B91BF;
	color: white;
	padding: 1px 10px;
	font-size:1em;
	font-weight: bold;
}

/******HEADER******/
div#header h1, div#header p{
	padding: 0;
	margin: 0;
	font-size: 1em;
	width: 33%;
	padding: 0 0;
	float: left;
} 
div#header{
	background-color: #5B91BF;
	color: white;
	height: 18px;
	text-align: center;
}
div#header p a:hover{
	background-color: white;
	color: #5B91BF;
}

/******MENU******/
div#main_menu{
	width: 190px;
	float: left;
	list-style-type: none;
}
ul#databases_menu li{
	background: transparent url('../img/icons/database.png') 0px 3px no-repeat;
	text-indent: 16px;
}
ul#tables_menu{
	font-size: 0.8em;
	padding : 0 20px;;
}
ul#tables_menu li{
	background: transparent url('../img/icons/table.png') -1px 3px no-repeat;
	text-indent: 17px;
}
ul.menu_context{
	list-style-type: none;
	list-style-position: inline;
	margin: 0 0 20px 0;
	padding: 0;
}
ul.menu_context li.label{
	background-color: #5B91BF;
	font-weight: bold;
	color: white;
	
}
ul.menu_context li{
	display: block;
	float: left;
	padding: 1px 10px;
	border-right: 1px solid #5B91BF;
	border-bottom: 1px solid #5B91BF;
	border-left:  1px solid #5B91BF;
}
ul.menu_tab{
	padding : 10px 20px;
	margin: 0;
	list-style-position: inside;
}
ul.menu_tab{ line-height: 20px; }
ul.menu_tab li{ display: block; }

/******TABLE******/
table{
	border-collapse: collapse;
	margin: 20px;
}
caption{
	text-align: left;
	padding: 5px;
}
thead{
	text-align: center;
	color: #5B91BF;
	font-weight: bold;
}
thead tr, thead tr th, thead tr td{
	border: 1px solid white;
	background-color: #5B91BF;
	color: white;
	font-weight: bold;
	padding: 2px 5px;
	font-family: Arial;
	font-size: 0.9em;
}
tbody tr, tbody tr td{
	background-color: rgb(224,235,243);
	border: 1px solid white;
	padding: 2px 5px;
	font-size: 0.9em;
}
tbody tr.odd_row,
tbody tr.odd_row td{
	background-color: rgb(245,249,252);
}
tbody tr:hover,
tbody tr:hover td{
	background-color: white;
}
tbody tr.odd_row:hover,
tbody tr.odd_row:hover td{
	background-color: white;
}
tfoot tr td{
	padding: 5px;
	text-align: right;
}

/******FORM******/
form.tabled_form table thead tr th label,
form.tabled_form table thead tr td label, 
form.tabled_form table tbody tr td label, 
form.tabled_form table tbody tr td label,
form.tabled_form table tfoot tr td label,
form.tabled_form table tfoot tr td label
{
	display: block; 
	width: 100%;
	padding: 0;
	margin: 0;
	color: white;
	text-align: center;
}
form fieldset{ border: none; }
form fieldset legend{ }
form label{
	display: block;
	width: 200px;
	text-align: right;
	float: left;
	margin-right: 3px;
	color: rgb(69,128,175);
	line-height: 1.5em;
}
form p{
	padding: 5px;
	margin: 0px;
}
form p input,
form p textarea,
form p select{
	border: 1px solid #5B91BF;
}
form p input:focus,
form p textarea:focus,
form p select:focus{
	background-color: rgb(224,235,243);
}
form p.submit_btn{ text-align: center; }
form p.submit_btn input{
	background-color: #5B91BF;
	color: white;
	font-weight: bold;
}

/******VISU******/
div.table_container:hover{ cursor: move; }
div.table_container{
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	position: absolute;
	top: 150px;
	left: 250px;
	padding: 0;
	margin: 0;
	display: block;
}
div.table_container h3{
	--moz-border-radius-topleft:inherit;
	-moz-border-radius-topright:inherit;
	background-color:#4580AF;
	color:white;
	font-size:0.9em;
	margin:0;
	padding:0 10px;
	text-align:center;
}
div.table_container ul{
	-moz-border-radius-bottomleft:10px;
	background-color:white;
	border:1px solid #4580AF;
	font-size:0.8em;
	list-style-type:none;
	margin:0;
	padding:0 5px;
}
ul li.primary_key{ font-weight: bold; }
ul li.foreign_key{ font-style: italic; }